<div class="container-fluid bg-light py-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card border-0 shadow-sm">
        <div class="card-body text-center">
          <h1 class="display-4 mb-4">Lista de Licitações</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col-md-8">
      <div class="card border-0 shadow-sm">
        <div class="card-body">
          <app-bidding-list></app-bidding-list>
        </div>
      </div>
    </div>
  </div>
</div>
